#bg-404 {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/angular-project-4050b.appspot.com/o/404.png?alt=media&token=4bcf0852-f5b7-4eaa-b413-21de4b4f89e1');
  background-position: center;
background-repeat: no-repeat;
  margin-right: -18vw;
height: 100vh;
width: 79vw;
background-color:black;
background-size: cover;
}

#asd {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 95vw;
  margin-right: -3vw;
  background-color:black;
}